
/.idea
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/logs/*.log
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/data/*
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/bootstrap/cache/packages.php
/bootstrap/cache/services.php
composer.lock
package-lock.json
/public/mix-manifest.json
